body{
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
}
h1{
    font-size: 3rem;
}
.divid{
    margin: 30px;
}
.divid button{
    font-size: 5rem;
    min-width: 140px;
    margin: 0 3px;
    border-radius: 250px;
    background-color: rgb(215, 203, 203);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.divid button:hover{
    background-color:rgb(210, 208, 208) ;
}
#playerdisplay,#computerdisplay{
    font-size: 2.5rem;
    
}
#result{
    font-size: 4rem;
    margin:30px  0;
}
